<div style="white-space:pre;border:1px solid black;margin:5px;padding:5px;font-family:monospace;">

testing the database access and data

queries:

<%= dbUtil.getRoomQuery() %>
<%= dbUtil.getRoomToCleanQuery() %>

room to be cleaned:

<%= JSON.stringify(finished, null, 2) %>

rooms returned:

<%= JSON.stringify(rooms, null, 2) %>

<ul>
  <% rooms.forEach(function(rm){ %>
    <li>
      <%= JSON.stringify(rm, null, 2) %>
    </li>
  <% }) %>
</ul>

needing cleaning rooms returned:

<%= JSON.stringify(cleanedRooms, null, 2) %>

<ul>
  <% cleanedRooms.forEach(function(rm){ %>
    <li>
      <%= JSON.stringify(rm, null, 2) %>
    </li>
  <% }) %>
</ul>

</div>
